body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.poetry-container {
  width: 100%;
  height: calc(100vh - 40px);   
  max-width: 800px;
  padding: 0px;
  margin: 0 auto;
  text-align: left;             
  overflow-y: scroll;          
  scroll-behavior: smooth;      
}

.poetry-container h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 100px; 
  margin-bottom: 60px;
}

.poetry-container h2 {
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px; 
}

.poetry-container .stanza {
  margin-bottom: 40px;  /* Increase spacing between stanzas */
}

.poetry-container .line {
  font-size: 22px;
  margin: 5px 0; 
  padding-left: 150px;
  line-height: 1.2; 
  opacity: 0;
  transition: opacity 0.1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Hide the scrollbar */
.poetry-container::-webkit-scrollbar {
  width: 0.5em; /* Set the width of the scrollbar */
}
.poetry-container::-webkit-scrollbar-track {
  background-color: transparent; /* Set the background color of the scrollbar track */
}
.poetry-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0); /* Set the background color of the scrollbar thumb */
}

