
/* ----------- Image galleries ----------- */

body, ul {
    margin: 0;
    padding: 0;
    background-color: white;
}


.gallery-1, .gallery-2, .gallery-3 {
  display: grid;
  margin: 0 auto;
  width: 90%;
  gap: 20px;
  padding: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  cursor: default;
}

.gallery-1 {
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  gap: 40px;
}

.gallery-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gallery-3 {
  overflow-x: scroll;
  overflow-y: hidden;
  grid-template-columns: repeat(3, 1fr);
  white-space: nowrap;
}

.image-container, .image-column, .image-container-link, .portfolio-infobox {
  position: relative;
  overflow: hidden;
}

.image-container, .image-container-link {
  cursor: pointer;
}

.image-container img, .image-container-link img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  transition: transform 0.3s ease, opacity 0.3s ease; 
  padding: 10px;
  opacity: 1; 
  background-color: transparent;
} 

.image-container-link:hover img {
  opacity: 0.85; 
}

.image-container-link:hover .project-title {
  opacity: 1;
}

/* ----------- Zooming mode ----------- */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
  transform: translateY(-50%);
  opacity: 0.5;
  cursor: pointer;
  z-index: 3;
  transition: opacity 0.8s;
  user-select: none;
}

.left-arrow {
  left: 30px;
  width: 50px; 
  height: 50px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  transform: rotate(-45deg) scale(0.6);
}

.right-arrow {
  right: 30px;
  width: 50px; 
  height: 50px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(45deg) scale(0.6); 
}

.arrow:hover {
  opacity: 1;
}

.overlay.active {
  display: flex;
  z-index: 2;
  cursor: pointer;
}

.zoomed-image {
  max-width: 90%;
  max-height: 90%;
  user-select: none;
  z-index: 3;
}

/* ----------- Infobox ----------- */

.project-title {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  opacity: 0; 
  color: white;
  font-size: 30px;
  font-family: 'Helvetica';
  font-weight: bold; 
  padding: 10px;
  border-radius: 5px;
  transition: opacity 0.3s ease;
  width: 80%;
  text-shadow: 0 0 2px white;
}

.portfolio-infobox {
  margin-top: 0;
  margin-bottom: 0%;
  padding: 10px;
  width: 100%;
  font-weight: 200;
  text-align: left;
  font-family: 'HelveticaNeue';
}

.portfolio-infobox a {
  text-decoration: underline;
  font-weight: 300;
  color: #000;
}

.portfolio-title, .portfolio-title-clickable {
  display: inline-block;
  width: auto;
  text-align: left;
  max-width: 100%;
  font-size: 24px;
  font-weight: bold; 
  padding-bottom: 10px;
}

.portfolio-title-clickable {
  cursor: pointer;
}

.portfolio-description {
  font-size: 16px;
}
.portfolio-credits {
  font-family: 'HelveticaNeue-Light';
  font-size: 16px;
}

.portfolio-excerpt {
  display: flex;
  justify-content: left;
  align-items: left;
  width: 100%;
  font-size: 20px;
  font-family: 'Averia';
  text-align: left;
  line-height: 1.5;
  transition: margin 0.5s ease, opacity 1s ease, max-height 0.5s ease; 
  max-height: 0; /* Start with zero height to hide the excerpt */
  overflow: hidden;
  opacity: 0;
}

.portfolio-infobox.open .portfolio-excerpt {
  margin-top: 10%; 
  margin-bottom: 10%;
  max-height: 500px; 
  opacity: 1;
}

/* ----------- Mobile adaptation ----------- */

@media (max-width: 480px) {

  .project-title {
    font-size: 18px;
    opacity: 1;
    text-shadow: 0 0 1px white;
  }

  .portfolio-title {
    font-size: 16px;
  }
  .portfolio-description {
    font-size: 12px;
  }
  .portfolio-credits {
    font-size: 12px;
  }
  .portfolio-excerpt {
    font-size: 12px;
    overflow: visible;
    white-space: nowrap;
    z-index: 2;
    margin-left: 0;
  }
  .image-container.open {
    margin-top: 200px;
  }
  .image-continer img, .image-container-link img {
    /* center image horizontally */
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 20px);
    margin-top: 0;
    margin-bottom: 0px;

  }

  .arrow {
    top: auto;
    bottom: 30px;
    width: 40px;
    height: 40px;
  }
  .gallery-1, .gallery-2, .gallery-3 {
    width: 100%;
    gap: 0px;
    grid-template-columns: 1fr;
    padding: 0px;
    margin-left: 0;
    margin-right: 0;
  }
}
