/* ----------- Infobox ----------- */

.project-title {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
  opacity: 0; 
  transition: opacity 0.3s ease;
  color: white;
  font-size: 30px;
  font-family: 'Helvetica';
  font-weight: bold; 
  text-align: center;
  text-shadow: 0 0 2px white;
  font-family: 'HelveticaNeue-Bold';
}

.portfolio-title, .portfolio-title-clickable {
  display: inline-block;
  text-align: left;
  padding-left: 10px;
  font-size: 24px;
  font-weight: bold; 
  padding-bottom: 10px;
  font-family: 'HelveticaNeue';
}

.portfolio-title-clickable {
  cursor: pointer;
}

.portfolio-title-clickable:hover {
  color: #ff0000;
}

.portfolio-infobox {
  max-height: 0%;
  opacity: 0;
  margin-bottom: 10px;
  padding-left: 10px;
  width: 100%;
  font-size: 16px;
  text-align: left;
  transition: margin 1s ease, max-height 1s ease, opacity 1s ease;
}

.portfolio-infobox a {
  text-decoration: underline;
  font-weight: 300;
  color: #000;
}

.portfolio-description {
  font-family: 'HelveticaNeue';
  overflow: hidden;
}

.portfolio-credits {
  font-family: 'HelveticaNeue-Light';
  overflow: hidden;
}

.portfolio-excerpt {
  font-family: 'Averia';
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: left;
  line-height: 1.5;
  margin-top: 5%; 
  margin-bottom: 5%;
  font-size: 18px;
}

.portfolio-infobox.open {
  opacity: 1;
  max-height: 100%; 
}

/* ----------- Mobile adaptation ----------- */

@media (max-width: 480px) {

  .project-title {
    font-size: 22px;
    font-weight: bold;
    opacity: 1;
    text-shadow: 0 0 1px white;
  }

  .portfolio-title {
    font-size: 16px;
  }

  .portfolio-description {
    font-size: 12px;
  }

  .portfolio-credits {
    font-size: 12px;
  }

  .portfolio-excerpt {
    font-size: 12px;
    overflow: visible;
    white-space: nowrap;
    z-index: 2;
  }
}
